
     html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      
     nav a.button-collapse {
      	display: block !important;
      }
      img{
      	width: 250px;
      	height:100px;
      }
      .price{
      	font-family: cursive;
      	font-size: 2em;
      }

      @media screen and (max-width: 480px) {
      	img{
      	width: 150px;
      	height:70px;
      	}
      }