     html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      .button-collapse{
      	display: block;
      	padding: 10%;
      }