<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
       <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
       <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="css/cStyles.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
   
     
     <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

     
        <script src="js/store.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/cMap.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">



 
  </head>
  <body ng-app="storeApp" ng-controller="storeController">
 
  <!--Header-->
      <nav>
        <div class="nav-wrapper">
          <div class="row">
            <div class="col-6-md">
              <a href="#" class="brand-logo center "><h4>COMKET</h4></a>
            </div>
            <div class="col-6-md">
              <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">shopping_basket</i></a>
            </div>
          </div>
        </div>
      </nav>
      <ul>
        <li  >
          
         
         
        </li>
      
      </ul>
  
  <!--Search field -->
      <div class="row"> 
 
        <div class="input-field col s6 offset-s3">
          <input placeholder="Let's Go Shopping!" id="item" ng-model="item"/>
          <a id="shop" class="waves-effect waves-light btn modal-trigger2" href="#modal2" ng-click="butt()"><i class="material-icons">shopping_cart</i>1</a>
          <a class="modal-trigger1 waves-effect waves-light btn" href="#modal1"><i class="material-icons">shopping_cart</i>2</a>
        </div>
      </div>

  <!-- Side Menu that will house the items added to cart -->
      <ul id="slide-out" class="side-nav">
        <li><div class="userView">          
          <a href=""><img class="circle" src="images/close.png"></a>
          <a href="#!name"><span class="white-text name">John Doe</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect">Third Link With Waves</a></li>
      </ul>
  

  <!-- Pop Up Modal Structure, this will house the items to choose from -->
      <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div id = "duplicate" class="col s12 m7">
            <h2 class="header">Grocery Items</h2>
            <div class="card vertical">
              
              <div class="card-stacked" ng-repeat="x in one">
                <div class="card-content">
                  <p>{{x.name}}</p>
                  <p>{{x.product}}</p>
                  <p>{{x.brand}}</p>
                  <p>{{x.price}}</p>
                </div>
                <div class="card-action">
                  <a href="#" ng-click="addToCart()">Add To Cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        </div>
      </div>

 <!-- Bottom Screen Modal Structure, still deciding what to do -->
      <div id="modal2" class="modal bottom-sheet">
        <div class="modal-content">
          <div id = "duplicate" class="col s12 m7">
            <h2 class="header">Grocery Items</h2>
            <div class="card vertical">
              
              <div class="card-stacked" ng-repeat="x in one">
                <div class="card-content">
                  <p>{{x.name}}</p>
                  <p>{{x.product}}</p>
                  <p>{{x.brand}}</p>
                  <p>{{x.price}}</p>
                </div>
                <div class="card-action">
                  <a href="#" ng-click="addToCart()">Add To Cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
        <div id="map"></div>

  <!--Script that generates a map at user current location -->
    <script>
    var map;
    var pos;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 15
        });
        //var infoWindow = new google.maps.InfoWindow({map: map});
        var infoWindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({map: map});
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
             pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
              
              
              var service = new google.maps.places.PlacesService(map);
              service.nearbySearch({
                location: pos,
                radius: 1500,
                types: ['grocery_or_supermarket']
              }, callback);

              marker.setPosition(pos);
              marker.setIcon('https://maps.google.com/mapfiles/ms/icons/green-dot.png')
              map.setCenter(pos);
        }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
        });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
 
      }


      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
          }
        }
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infoWindow.setContent(place.name);
          infoWindow.open(map, this);
        });
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC93xr8tXeNU2M4s5xXpz0GTkOuLQElJF0&libraries=places&callback=initMap" async defer>
    </script>

 

  </body>
</html>